/* Scss Document */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Scss Document */
/*COLORS*/
/*FONTS (Playfair Display[accent]:400   Source Sans Pro[sans]:300,400,600,700)*/
/* Scss Document */
#prntr {
  color: #000000 !important;
}

#prntr #header {
  background: none;
  height: auto;
}

#prntr #header .logo-bar {
  display: none;
}

#prntr #header .sub-header {
  border: 0;
  background: none;
}

#prntr #header .sub-header .icon {
  display: none;
}

#prntr #header .sub-header .title {
  color: #000000;
}

#prntr #header .breadcrumb-bar {
  display: none;
}

#prntr a.feedback-modal-btn {
  display: none;
}

#prntr #secondary-nav {
  display: none !important;
}

#prntr #footer {
  display: none;
}

/* Scss Document */
#header {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0f2d40;
  position: relative;
}

#header.subhome {
  width: 100%;
  height: 256px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  #header.subhome {
    height: auto;
    background-size: cover;
  }
}

#header.subhome .logo-bar {
  min-height: 87px;
  padding-top: 16px;
}

@media (max-width: 767px) {
  #header.subhome .logo-bar .logo-wrap {
    width: 390px;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  #header.subhome .logo-bar .logo-wrap {
    width: 100%;
  }
}

#header.subhome .logo-bar .logo-wrap .seal {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #179ca3;
  height: 56px;
}

@media (max-width: 600px) {
  #header.subhome .logo-bar .logo-wrap .seal {
    width: 30%;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  #header.subhome .logo-bar .logo-wrap .seal {
    width: auto;
  }
}

#header.subhome .logo-bar .logo-wrap .seal img {
  height: 100%;
  width: auto;
}

#header.subhome .logo-bar .logo-wrap .seal img.print {
  display: none;
}

#header.subhome .logo-bar .logo-wrap .logo {
  height: 56px;
}

@media (max-width: 600px) {
  #header.subhome .logo-bar .logo-wrap .logo {
    width: 65%;
    display: inline-block;
  }
}

@media (max-width: 400px) {
  #header.subhome .logo-bar .logo-wrap .logo {
    width: 73%;
  }
}

#header.subhome .logo-bar .logo-wrap .logo img {
  height: 100%;
  width: auto;
}

@media (max-width: 400px) {
  #header.subhome .logo-bar .logo-wrap .logo img {
    width: 100%;
    height: auto;
  }
}

#header.subhome .logo-bar .logo-wrap .logo img.print {
  display: none;
}

@media (max-width: 600px) {
  #header.subhome .logo-bar .rt-content {
    display: none;
  }
}

@media (max-width: 600px) {
  #header.subhome .logo-bar .rt-content .wrapper {
    width: 49%;
    display: inline-block;
  }
}

#header.subhome .logo-bar .rt-content .wrapper:after {
  content: '';
  display: block;
  clear: both;
}

#header.subhome .logo-bar .rt-content .wrapper .sec-bar {
  text-align: left;
  color: #ffffff;
  width: 160px;
}

@media (max-width: 767px) {
  #header.subhome .logo-bar .rt-content .wrapper .sec-bar {
    width: 210px;
  }
}

#header.subhome .logo-bar .rt-content .wrapper .sec-bar .sec-title {
  font-weight: 300;
  font-size: 10px;
}

@media (max-width: 767px) {
  #header.subhome .logo-bar .rt-content .wrapper .sec-bar .sec-title {
    display: inline-block;
    margin-right: 6px;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}

#header.subhome .logo-bar .rt-content .wrapper .sec-bar .sec-name {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .05em;
}

@media (max-width: 767px) {
  #header.subhome .logo-bar .rt-content .wrapper .sec-bar .sec-name {
    font-size: 14px;
    display: inline-block;
  }
}

#header.subhome .logo-bar .rt-content .wrapper .sec-bar .sec-name span {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .1em;
}

@media (max-width: 767px) {
  #header.subhome .logo-bar .rt-content .wrapper .sec-bar .sec-name span {
    font-size: 17px;
  }
}

#header.subhome .logo-bar .rt-content .wrapper a {
  display: block;
  margin-top: 6px;
}

#header.subhome .logo-bar .rt-content .wrapper a .btn.dhh {
  color: #ffffff;
  border-radius: 0;
  width: 160px;
  background-color: #179ca3;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .05em;
  padding: 3px 8px;
  font-size: 12px;
}

@media (max-width: 767px) {
  #header.subhome .logo-bar .rt-content .wrapper a .btn.dhh {
    width: 210px;
  }
}

#header.subhome .logo-bar .rt-content .wrapper a .btn.dhh .fa {
  margin-right: 5px;
}

#header.subhome .logo-bar .rt-content .wrapper a:hover .btn.dhh {
  color: #ffffff;
  background-color: #14878d;
}

@media (max-width: 600px) {
  #header.subhome .logo-bar .mob-wdth {
    width: 100%;
  }
}

#header.subhome .sub-header {
  border-top: 2px solid #179ca3;
  height: 140px;
  background-image: radial-gradient(center center, circle farthest-corner, #14405c, #0f2d40);
  background-image: -webkit-radial-gradient(center center, circle cover, #14405c, #0f2d40);
  background-color: #0f2d40;
}

@media (max-width: 767px) {
  #header.subhome .sub-header {
    height: 102px;
  }
}

@media (max-width: 560px) {
  #header.subhome .sub-header {
    height: 72px;
  }
}

#header.subhome .sub-header .wrapper {
  display: table;
  width: 100%;
  height: 138px;
}

@media (max-width: 767px) {
  #header.subhome .sub-header .wrapper {
    height: 100px;
  }
}

@media (max-width: 560px) {
  #header.subhome .sub-header .wrapper {
    height: 70px;
  }
}

#header.subhome .sub-header .wrapper div {
  display: table-cell;
  vertical-align: middle;
}

#header.subhome .sub-header .wrapper div div {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#header.subhome .sub-header .wrapper div div .icon {
  height: 120px;
  display: inline-block;
}

@media (max-width: 767px) {
  #header.subhome .sub-header .wrapper div div .icon {
    height: 80px;
  }
}

@media (max-width: 560px) {
  #header.subhome .sub-header .wrapper div div .icon {
    display: none;
  }
}

@media (max-width: 560px) {
  #header.subhome .sub-header .wrapper div div .icon.hl {
    display: block;
    height: 80px;
    margin: 0 10%;
  }
}

@media (max-width: 467px) {
  #header.subhome .sub-header .wrapper div div .icon.hl {
    padding-top: 5px;
  }
}

@media (max-width: 388px) {
  #header.subhome .sub-header .wrapper div div .icon.hl {
    padding-top: 10px;
  }
}

@media (max-width: 320px) {
  #header.subhome .sub-header .wrapper div div .icon.hl {
    padding-top: 14px;
  }
}

#header.subhome .sub-header .wrapper div div .icon.hl img {
  width: 100%;
  height: auto;
}

#header.subhome .sub-header .wrapper div div .icon img {
  height: 100%;
}

@media (max-width: 560px) {
  #header.subhome .sub-header .wrapper div div .icon img {
    width: 100%;
    height: auto;
  }
}

#header.subhome .sub-header .wrapper div div .title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 58px;
  letter-spacing: .05em;
  font-weight: 600;
  padding-left: 20px;
  line-height: .9em;
  display: inline-block;
}

@media (max-width: 767px) {
  #header.subhome .sub-header .wrapper div div .title {
    font-size: 40px;
  }
}

@media (max-width: 560px) {
  #header.subhome .sub-header .wrapper div div .title {
    font-size: 28px;
  }
}

#header.subhome .sub-header .wrapper div div .title span {
  text-transform: none;
  font-family: "Playfair Display", times new roman, serif;
  font-weight: 300;
  letter-spacing: .05em;
  font-style: italic;
  font-size: .8em;
  display: block;
  padding-top: 5px;
}

@media (max-width: 560px) {
  #header.subhome .sub-header .wrapper div div .title span {
    display: inline-block;
    margin-right: .4em;
  }
}

/* Scss Document */
html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff !important;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body a {
  color: #179ca3;
}

body a:hover {
  color: #117176;
  text-decoration: none;
}

body a:focus {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: .03em;
  color: #0f2d40;
  padding-bottom: 9px;
  margin-bottom: 15px;
  display: block;
  border-bottom: 1px solid #179ca3;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  color: #0f2d40;
  padding-bottom: 8px;
  padding-right: 15px;
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  display: block;
  color: #0f2d40;
  padding: 0;
  margin-top: 8px;
}

h4 {
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  color: #0f2d40;
  padding-bottom: 8px;
  padding-right: 15px;
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
}

h5 {
  font-weight: 600;
  font-size: 17px;
  display: block;
  color: #179ca3;
  padding: 0;
  margin-top: 8px;
}

h6 {
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  color: #179ca3;
  padding-bottom: 8px;
  padding-right: 15px;
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
}

#header {
  background-position: top;
  background-repeat: no-repeat;
  background-color: #0f2d40;
  position: relative;
  background-size: cover;
}

#header.dhh {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  #header.dhh {
    height: auto;
    background-size: cover;
  }
}

#header.dhh .logo-bar {
  min-height: 117px;
  padding-top: 20px;
}

@media (max-width: 767px) {
  #header.dhh .logo-bar .logo-wrap {
    width: 394px;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  #header.dhh .logo-bar .logo-wrap {
    width: 100%;
  }
}

#header.dhh .logo-bar .logo-wrap .seal {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #179ca3;
}

@media (max-width: 420px) {
  #header.dhh .logo-bar .logo-wrap .seal {
    width: 22%;
    padding-right: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 420px) {
  #header.dhh .logo-bar .logo-wrap .seal img {
    width: 100%;
    height: auto;
  }
}

#header.dhh .logo-bar .logo-wrap .seal img.print {
  display: none;
}

@media (max-width: 991px) {
  #header.dhh .logo-bar .logo-wrap .logo {
    width: 236px;
    padding-top: 4px;
    display: inline-block;
  }
}

@media (max-width: 420px) {
  #header.dhh .logo-bar .logo-wrap .logo {
    width: 72%;
    padding-top: 0;
    float: left;
  }
}

@media (max-width: 991px) {
  #header.dhh .logo-bar .logo-wrap .logo img {
    width: 100%;
  }
}

@media (max-width: 420px) {
  #header.dhh .logo-bar .logo-wrap .logo img {
    width: 100%;
    height: auto;
  }
}

#header.dhh .logo-bar .logo-wrap .logo img.print {
  display: none;
}

@media (max-width: 767px) {
  #header.dhh .logo-bar .nav-wrapper {
    margin-top: 25px;
  }
}

@media (max-width: 420px) {
  #header.dhh .logo-bar .nav-wrapper {
    margin-top: 90px;
  }
}

#header.dhh .logo-bar .top-nav {
  text-align: right;
  color: #ffffff;
}

@media (max-width: 767px) {
  #header.dhh .logo-bar .top-nav {
    text-align: center;
  }
}

#header.dhh .logo-bar .top-nav a {
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  letter-spacing: .1em;
}

#header.dhh .logo-bar .top-nav a:first-of-type {
  margin-left: 0;
  margin-right: 8px;
}

#header.dhh .logo-bar .top-nav a:last-of-type {
  margin-right: 0;
  margin-left: 8px;
}

#header.dhh .logo-bar .top-nav a:hover {
  color: #179ca3;
  text-decoration: none;
}

#header.dhh .sec-bar {
  min-height: 55px;
  background-color: rgba(23, 156, 163, 0.75);
  text-align: center;
  color: #ffffff;
  padding-top: 6px;
}

@media (max-width: 767px) {
  #header.dhh .sec-bar {
    min-height: 32px;
  }
}

#header.dhh .sec-bar .sec-title {
  font-weight: 300;
}

@media (max-width: 767px) {
  #header.dhh .sec-bar .sec-title {
    display: inline-block;
    margin-right: 6px;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}

#header.dhh .sec-bar .sec-name {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .05em;
}

@media (max-width: 767px) {
  #header.dhh .sec-bar .sec-name {
    font-size: 14px;
    display: inline-block;
  }
}

#header.dhh .sec-bar .sec-name span {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .1em;
}

@media (max-width: 767px) {
  #header.dhh .sec-bar .sec-name span {
    font-size: 17px;
  }
}

#header.dhh form.navbar-form {
  margin-top: 20px;
  min-width: 222px;
}

@media (max-width: 767px) {
  #header.dhh form.navbar-form {
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
    width: 100%;
    float: none;
    margin: 0;
  }
}

#header.dhh form.navbar-form .form-control {
  margin-right: 10px;
  padding: 6px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  min-width: 165px;
}

@media (max-width: 767px) {
  #header.dhh form.navbar-form .form-control {
    float: left;
    width: 100%;
    margin-right: 0;
    padding-right: 40px;
  }
}

#header.dhh form.navbar-form .btn {
  color: #ffffff;
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 4px;
}

@media (max-width: 767px) {
  #header.dhh form.navbar-form .btn {
    margin-top: -7px;
    margin-left: -30px;
  }
}

.feedback-modal-btn,
.side-accessibility-btn {
  position: fixed;
  transform: rotate(-90deg);
  background-color: rgba(15, 45, 64, 0.9);
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 1800;
  padding: 5px 15px;
  font-size: 20px;
  border: 1px solid #ffffff;
  letter-spacing: .05em;
}

.feedback-modal-btn:hover,
.side-accessibility-btn:hover {
  color: #3cdbe4;
  cursor: pointer;
}

@media (max-width: 767px) {

  .feedback-modal-btn,
  .side-accessibility-btn {
    font-size: 13px;
    padding: 5px 8px;
    line-height: .9;
    transform: rotate(0deg);
    border-top: 0;
  }
}

.feedback-modal-btn {
  top: 280px;
  right: -43px;
}

@media (max-width: 767px) {
  .feedback-modal-btn {
    top: 0;
    right: 1px;
  }
}

.side-accessibility-btn {
  top: 440px;
  right: -71px;
}

.side-accessibility-btn:after {
  font-family: 'FontAwesome';
  content: '\f013';
  font-size: 16px;
  line-height: 100%;
  padding-left: 5px;
}

@media (max-width: 767px) {
  .side-accessibility-btn {
    top: 0;
    right: 90px;
  }

  .side-accessibility-btn:after {
    display: none;
  }
}

#footer {
  height: 202px;
  background-color: #0f2d40;
  margin-top: 30px;
}

@media (max-width: 664px) {
  #footer {
    height: 221px;
  }
}

@media (max-width: 608px) {
  #footer {
    height: 241px;
  }
}

@media (max-width: 592px) {
  #footer {
    height: 261px;
  }
}

@media (max-width: 372px) {
  #footer {
    height: 281px;
  }
}

@media (max-width: 332px) {
  #footer {
    height: 321px;
  }
}

#footer .footer-top {
  color: #ffffff;
  text-align: center;
  padding: 16px;
}

#footer .footer-top .txt {
  font-weight: 300;
  letter-spacing: .06em;
}

#footer .footer-top .txt strong {
  font-weight: 600;
}

#footer .footer-bottom {
  height: 41px;
  border-top: 1px solid #179ca3;
  padding: 10px;
}

#footer .footer-bottom .social a {
  color: #ffffff;
}

#footer .footer-bottom .social a:hover {
  color: #179ca3;
}

#footer .footer-bottom .social a .fa {
  margin-right: 10px;
  font-size: 18px;
}

/*MISCELLANEOUS*/
.push {
  height: 232px;
}

@media (max-width: 664px) {
  .push {
    height: 251px;
  }
}

@media (max-width: 608px) {
  .push {
    height: 271px;
  }
}

@media (max-width: 592px) {
  .push {
    height: 291px;
  }
}

@media (max-width: 372px) {
  .push {
    height: 311px;
  }
}

@media (max-width: 332px) {
  .push {
    height: 351px;
  }
}

.force-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -232px;
}

@media (max-width: 664px) {
  .force-wrapper {
    margin: 0 auto -251px;
  }
}

@media (max-width: 608px) {
  .force-wrapper {
    margin: 0 auto -271px;
  }
}

@media (max-width: 592px) {
  .force-wrapper {
    margin: 0 auto -291px;
  }
}

@media (max-width: 372px) {
  .force-wrapper {
    margin: 0 auto -311px;
  }
}

@media (max-width: 332px) {
  .force-wrapper {
    margin: 0 auto -351px;
  }
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

:target::before {
  content: '';
  display: block;
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}